[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "genomicInstability"]
	path = genomicInstability
	url = https://github.com/reef103/genomicinstability
